body{
    margin: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 56px;
    /*background-color: red;*/
}

.icon{
    display: flex;
    align-items: center;
    height: 5vh;
    width: 20vw;
    margin-left: 2vw;
}

.cars{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 5vh;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 5vh;
}

.navTextFam {
    font-family: "GothamSSm";
    font-size: 14px;

}


