body{
    margin: 0;
    font-family: "GothamSSm Light", serif;
    font-size: 14px;
}

.navbar{
    font-family: "GothamSSm Light", serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    padding-left: 50px;
    position: fixed;
}
.cars ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border-radius: 100px;
    height: 70px;
}
.cars ul li a{
    padding: 0 20px;
    font-size: 1.1em;
    height: 80px;
}
.cars a:hover{
    background-color: 	#c4ccd4;
}

.cars{
    font-family: "GothamSSm Light", serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 70px;
    padding-left: 90px;
}

.menu{
    font-family: "GothamSSm Light", serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 56px;
    float: right;
    padding-left: 70px;
}

.navTextFam {
    font-family: "GothamSSm Light", serif;
    font-weight: bold;
}

.model{
    font-family: "GothamSSm Light", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 508px;
    padding-top: 100px;
}
.black{
    font-family: "GothamSSm Light", serif;
    background-color: rgba(23, 26, 32, 1);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}
.white{
    font-family: "GothamSSm Light", sans-serif;
    background-color: #f4f4f4A6;
    border: none;
    border-radius: 5px;
    color: #393C41;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
}
.data{
    margin-top: 350px;
 }
section {
    font-family: sans-serif;
    min-height: 100vh;
}
section:nth-child(1) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD");background-position: center;
    background-size: cover;
}

section:nth-child(2) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");background-position: center;
    background-size: cover;
}
section:nth-child(3) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD");background-position: center;
    background-size: cover;
}
section:nth-child(4) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD");background-position: center;
    background-size: cover;
}
section:nth-child(5) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/4a41ec0e-7316-46a8-8ce9-e2f195ba644d/bvlatuR/std/2880x1800/Homepage-SolarRoof-Desktop-Global?quality=auto-medium&format=auto");background-position: center;
    background-size: cover;
}
.nextSection{
    display: flex;
    justify-content: center;
    margin-right: 6px;
    margin-top: 80px;
}
.black a {
    text-decoration: none;
    color: White;
}
.white a {
    text-decoration: none;
    color: Black;
}
a {
     text-decoration: none;
     color: Black;
 }