body {
    font-family: GothamSSm;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

.twoMainSides{
    display: flex;
    justify-content: space-between;

}

#teslaLogo {
    align-items: center;
    height: 24px;
    width: 120px;
    padding-left: 40px;
}

.rightSide {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 415px;
}

.rightSide > span {
    font-size: 40px;
}

.rightSide > p {
    font-size: 14px;
    color: #393C41;
}

.leftSide {
    display: flex;
    height: 100%;
    width: 1300px;
}

.rightSide > a {
    color: #393C41;
    border-bottom: #393C41;
}

.smallShit {
    display: flex;
    align-items: center;
}

a:visited {
    color: #393C41;
}

.twoPP {
    display: flex;
    width: 320px;
    height: 24px;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 40px;
    padding: 10px;
    background-color: #F4F4F4;
    align-items: center;
    justify-content: center;
}

#leftButton {
    font-family: "Gotham SSm A","Gotham SSm B","Gotham",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",Geneva,"Helvetica Neue",Arial,sans-serif;
    width: 165px;
    font-weight: bold;
    opacity: 50%;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #F4F4F4;
}

#leftButton:focus {
    background-color: white;
    opacity: 100%;
    transition: 0.3s;
}

#rightButton {
    font-family: "Gotham SSm A","Gotham SSm B","Gotham",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans",Geneva,"Helvetica Neue",Arial,sans-serif;
    width: 165px;
    opacity: 50%;
    font-weight: bold;
    height: 32px;
    border: none;
    border-radius: 3px;
    background-color: #F4F4F4;
}

#rightButton:focus {
    transition: 0.3s;
    opacity: 100%;
    background-color: white;
}

.characteristics {
    display: flex;
    width: inherit;
    justify-content: space-evenly;
    margin-top: 20px;
}

.bigNums {
    color: #393c41;
    font-weight: bold;
    font-size: 24px;
}

.smallNums {
    font-size: 14px;
}

.midNums {
    font-size: 12px;
    color: #5c5e62;
}

#rearWheel {
    font-weight: 500!important;
    font-size: 15px;
    display: flex;
    width: inherit;
    margin-top: 50px;
    margin-bottom: 15px;
    padding-left: 94px;
    color: #171A20;
}

#model3 {
    font-family: GothamSSm, "Inter Semi Bold";
    font-size: 14px;
    color: #393c41;
    border-radius: 5px;
    border-color: #d0d1d2;
    border-width: 1px;
    width: 320px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
}
