nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
}

.twoMainSides{
    display: flex;
    justify-content: space-between;
}

#teslaLogo {
    align-items: center;
    height: 24px;
    width: 120px;
    padding-left: 40px;
}

.rightSide {
    font-family: "GothamSSm", serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 415px;
}

.rightSide > h1 {
    font-size: 40px;
}

.rightSide > p {
    font-size: 14px;
    color: #393C41;
}

.leftSide {
    display: flex;
    height: 100%;
    width: 1300px;
}

.rightSide > a {
    color: #393C41;
    border-bottom: #393C41;
}

.smallShit {
    display: flex;
    align-items: center;
}