body{
    margin: 0;
    font-family: "GothamSSm Light", serif;
    font-size: 14px;
}

.navbar{
    font-family: "GothamSSm Light", serif;
    display: flex;
    align-items: center;
    height: 56px;
    padding-left: 50px;
}
.cars ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border-radius: 100px;
    height: 70px;
}
.cars ul li a{
    padding: 0 20px;
    font-size: 1.1em;
    height: 80px;
}
.cars a:hover{
    background-color: 	#c4ccd4;
}

.cars{
    font-family: "GothamSSm Light", serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    height: 70px;
    padding-left: 90px;
}

.menu{
    font-family: "GothamSSm Light", serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20vw;
    height: 56px;
    padding-left: 70px;
}
.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    border-radius: 100px;
    height: 70px;
}
.menu ul li a{
    padding: 0 20px;
    font-size: 1.1em;
    height: 80px;
}
.menu a:hover{
    background-color:#c4ccd4;
    transition: 0.6s;
}

.navTextFam {
    font-family: "GothamSSm Light", serif;
    font-weight: bold;
}

.model{
    font-family: "GothamSSm Light", serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 508px;
    padding-top: 30px;
}
.black{
    font-family: "GothamSSm Light", serif;
    background-color: rgba(23, 26, 32, 1);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 20px;
}
.white{
    font-family: "GothamSSm Light", sans-serif;
    background-color: #f4f4f4A6;
    border: none;
    border-radius: 5px;
    color: #393C41;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
}
.data{
    margin-top: 350px;
    max-height: 60vh;
}
.mainSec a{
    color: #f4f4f4;
}
section {
    font-family: sans-serif;
}
section:nth-child(1) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/cfcf3747-c7d7-488d-896d-7c9462e50ca5/bvlatuR/std/2880x1800/Solar-Roof-Hero-Desktop-Global?quality=auto-medium&format=auto");background-position: center;
    background-size: cover;
    height: 100vh;
}

section:nth-child(2) {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/60a584f9-7ae3-4cd5-9fa8-6251715df25b/bvlatuR/std/2880x1800/Solar-Roof-Design-Desktop-Global?quality=auto-medium&format=auto");
    height: 65vh;
    background-position: center;
    background-size: cover;
}
section:nth-child(3) {
    background-size: cover;
    height: 35vh;
}
section:nth-child(4) {
    background-size: cover;
    height: 100vh;
    display: flex;
}
section:nth-child(5) {
    background-size: cover;
    height: 100vh;
    display: flex;
}
section:nth-child(6) {
    background-image: url("back.jpg");background-position: center;
    background-size: cover;
    height: 100vh;
}
section:nth-child(7) {
    background-color: black;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.parameters{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 350px;
    color: #f4f4f4;
}
.p1{
    width: 70px;
    text-align: center;
    margin-right: 100px;
}
.solar{
    text-align: center;
    padding-top: 50px;
}
.nextSection{
    display: flex;
    justify-content: center;
    margin-right: 6px;
    margin-top: 80px;
}
.black a {
    text-decoration: none;
    color: White;
}
.white a {
    text-decoration: none;
    color: Black;
}
a {
    text-decoration: none;
    color: White;
}
.house{
    display: flex;
}
.design{
    width: 30%;
    padding-left: 200px;
}
.design2{
    padding-left: 100px;
    width: 600px;
    font-size: 1.1em;
    padding-top: 50px;
}
.energyStore{
    width: 30%;
    padding-top: 30px;
}
.energy1{
    padding-left: 50px;
    font-size: 1.4em;
}
.energy2{
    padding-left: 50px;
    padding-top: 270px;
}
.energyIMG{
    width: 70%;
}
.durability{
    margin: 0 auto;
    width: 90%;
}
.durability-video{
    width: 100vw;
    object-fit:cover;
}
.transform{
    padding-top: 100px;
}
.trans{
    color: #f4f4f4;
    font-size: 1.5em;
    width: 400px;
}
.transBut{
    padding-top: 300px;
}


